<div class="container">
    <a href="/"><div class='che_logo'>Cheese</div></a>
    <div class='che_nav hidden-phone'>
        <a href="top100">
            <div>常用一百字</div>
        </a>
        <a href="numbers">
            <div>學數字</div>
        </a>
        <a href="exam">
            <div>考試</div>
        </a>
        <a href="thanks">
            <div>感謝名單</div>
        </a>
    </div>
    <div class='mobile-nav visible-phone'></div>
</div>
<div class='mobile-menu-container tmms-visible-phone'>
    <div class='mobile-menu-arrow'></div>
    <div id='menu-Menu' class='mobile-menu-inner'>
        <ul>
            <li><a href="top100">常用一百字</a></li>
            <li><a href="numbers">學數字</a></li>
            <li><a href="exam">考試</a></li>
            <li><a href="thanks">感謝名單</a></li>
        </ul>
    </div>
</div>