<div class='container'>
    <a href='/'><div class='che_logo' data-i18n='product.name'></div></a>
    <div class='che_nav hidden-phone'>
        <a href='top100'>
            <div data-i18n='header.top100'></div>
        </a>
        <a href='numbers'>
            <div data-i18n='header.numbers'></div>
        </a>
        <a href='exam'>
            <div data-i18n='header.exam'></div>
        </a>
        <a href='thanks'>
            <div data-i18n='header.thanks'></div>
        </a>
    </div>
    <div class='mobile-nav visible-phone'></div>
</div>
<div class='mobile-menu-container tmms-visible-phone'>
    <div class='mobile-menu-arrow'></div>
    <div id='menu-Menu' class='mobile-menu-inner'>
        <ul>
            <li><a href='top100' data-i18n='header.top100'></a></li>
            <li><a href='numbers' data-i18n='header.numbers'></a></li>
            <li><a href='exam' data-i18n='header.exam'></a></li>
            <li><a href='thanks' data-i18n='header.thanks'></a></li>
        </ul>
    </div>
</div>