<div data-js='blackboard'></div>
<div class='services_area'>
    <div class='container services'>
        <div class='row-fluid'>

            <div class='span4 service'>
                <div class='service_header'>
                    <div class='icon'>
                        <i class='icon_100' data-i18n='service.top100.icon'></i>
                    </div>
                    <div class='sub_title' data-i18n='service.top100.title'></div>
                    <div class='service_body' data-i18n='service.top100.description'></div>
                </div>
            </div>
            <div class='span4 service'>
                <div class='service_header'>
                    <div class='icon'>
                        <i class='icon_write' data-i18n='service.numbers.icon'></i>
                    </div>
                    <div class='sub_title' data-i18n='service.numbers.title'></div>
                    <div class='service_body' data-i18n='service.numbers.description'></div>

                </div>
            </div>
            <div class='span4 service'>
                <div class='service_header'>
                    <div class='icon'>
                        <i class='icon_write' data-i18n='service.exam.icon'></i>
                    </div>
                    <div class='sub_title' data-i18n='service.exam.title'></div>
                </div>
                <div class='service_body' data-i18n='service.exam.description'></div>
            </div>
        </div>
    </div>
</div>