@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\000031}}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\0000310}}
.clearfix {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\0000314}}
body {
  background: #333;
  color: #fff;
  font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\0000321}}
#word {
  font-size: 22px;
  width: 99%;
  padding: 6px 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\0000326}}
#holder {
  border: 1px solid #ccc;
  width: 99%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\0000330}}
#holder svg {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\0000333}}
#copyright {
  bottom: 0;
  font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
  position: absolute;
  right: 1em;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/demo\.scss}line{font-family:\0000340}}
#copyright a {
  color: #fff;
}
