@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/isken\/Dropbox\/github\/cheese\/app\/styles\/top100\.scss}line{font-family:\000031}}
.grid-row {
  float: left;
  font-size: 100pt;
  font-family: Arial;
  color: #666;
  line-height: 1;
  cursor: pointer;
}
